tokenizers==0.13.3
torch==2.1.0
torchvision==0.16.0
transformer-smaller-training-vocab==0.2.3
transformers==4.27.4
click
opencv-python
scikit-image
numpy==1.26.1
click
ipykernel
pyunpack
fontTools
tensorboard
editdistance
edlib
wandb
Pillow==9.5.0